<p id="notice"><%= notice %></p>

<% if current_customer.admin? %>
    <%= render 'customers/admin_index' %>
<% else %>
  <p>Hello USER!</p>
<% end %>

<br>
<h3>Search Cars</h3>
<%= render "cars/search_form" %>

<%= link_to 'Order History', order_history_path(:cust_id => current_customer) %>

