<h1>New Customer / Admin</h1>

<%= form_with(model: @customer, local: true, url: create_customer_path, method: :post) do |form| %>
  <%= render partial: 'form', customer: @customer, locals: { f: form } %>
<% end %>

<%= link_to 'Back', customers_path %>
